/* Header */
.header {
  display: flex;
  justify-content: space-between;
  max-width: 130rem;
  margin: auto;
  padding: 1.5rem;
}
.cerebro {
  width: 15rem;
}
.content_titulo {
  display: flex;
  align-items: center;
}
.content_titulo h1 {
  font-size: 3rem;
}
.nav{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0 15rem;
}
.nav a {
  font-size: 2.5rem;
  text-decoration: none;
  color: #000;
  padding: .5rem 1.5rem;
}
.nav a:hover {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: .5rem 1.5rem;
}

hr {
  max-width: 130rem;
  /* margin: auto; */
}

/*******************************
* *     Contenedor seccion   ***
********************************/
.seccion {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 60rem;
  border: 1px solid #000;
  border-radius: 5px;
}
.subtitulo {
  text-align: center;
  font-size: 3rem;
}
.p_ejercicio{
  padding: 2rem;
  text-align: center;
  margin: 0;
}
.content_form {
  padding: 2rem;
  margin: auto;
}
.form {
  display: grid;
  gap: 1rem;
  justify-content: center;
}
.label {
  display: block;
  text-align: center;
}
.input {
  width: 18rem;
  text-align: center;
  font-size: 3rem;
}
.btn_form {
  padding: 1rem;
  background-color: #000;
  color: #fff;
  border-style: none;
  border-radius: 5px;
}
/* .resultado {
  border: 2px dashed;
  margin: 2rem 2rem 0 2rem;
  padding: 2rem;
  font-size: 3.5rem;
  text-align: center;
} */

.noImg {
  display: none;
}




